* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

*::before,
*::after {
 box-sizing: inherit;
}

html,
body {
 font-size: 16px;
 font-family: "Arial", system-ui, sans-serif;
 block-size: 100%;
}

body {
 color: #202124;
 text-rendering: optimizeLegibility;
 user-select: none;
 -webkit-user-select: none;
 -webkit-font-smoothing: antialiased;
 -webkit-tap-highlight-color: transparent;
}

img {
 max-width: 100%;
}

button {
 border: 0;
 outline: 0;
 background: transparent;
 cursor: pointer;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 1.5rem;
 block-size: 100%;
 inline-size: 100%;
}

h1 {
 text-align: center;
 margin-block-end: auto;
}

figure {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2rem;
 margin-block-end: auto;
}

figure img {
 display: block;
 object-fit: cover;
}

figcaption {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: .5rem;
}

figcaption strong {
 font-size: 3rem;
 text-align: center;
 color: #6750A4;
}

figcaption h2 {
 font-size: 1.5rem;
 text-align: center;
 font-weight: 400;
}

button.button {
 font-family: "Arial", system-ui, sans-serif;
 font-size: 1.125rem;
 font-weight: 500;
 position: relative;
 display: inline-block;
 text-align: center;
 block-size: 3.5em;
 padding-inline: 1.5rem;
 background-color: #ffffff;
 color: #6750A4;
 border-radius: .25em;
 letter-spacing: .03em;
 transition: transform ease-in 0.1s;
 margin-block-end: auto;
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button.button::before,
button.button::after {
 content: "";
 position: absolute;
 left: -20%;
 inline-size: 140%;
 block-size: 100%;
 display: block;
 z-index: -1000;
 transition: all ease-in-out 0.5s;
 background-repeat: no-repeat;
}

button.button::before {
 display: none;
 top: -75%;
 background-image: radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle,  transparent 20%, #6750A4 20%, transparent 30%),
 radial-gradient(circle, #6750A4 20%, transparent 20%), 
 radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle,  transparent 10%, #6750A4 15%, transparent 20%),
 radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle, #6750A4 20%, transparent 20%);
 background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

button.button::after {
 display: none;
 bottom: -75%;
 background-image: radial-gradient(circle, #6750A4 20%, transparent 20%), 
 radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle,  transparent 10%, #6750A4 15%, transparent 20%),
 radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle, #6750A4 20%, transparent 20%),
 radial-gradient(circle, #6750A4 20%, transparent 20%);
 background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

button.button:active {
 transform: scale(0.9);
 background-color: #6750A4;
 color: #ffffff;
 box-shadow: 0 2px 25px rgba(103, 80, 164, .2);
}

button.button.animated::before {
 display: block;
 animation: topBubbles ease-in-out .75s forwards;
}

button.button.animated::after {
 display: block;
 animation: bottomBubbles ease-in-out .75s forwards;
}

@keyframes topBubbles {
 0% {
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
 }
 50% {
  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
 }
 100% {
  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
}

@keyframes bottomBubbles {
 0% {
  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
 }
 50% {
  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
 }
 100% {
  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
}